@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;
@use 'sass:math';

body {
  font-family: var.$font-family-base;
  background-color: var.$background-color-primary;
  color: var.$text-color-base;
  line-height: var.$line-height-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  &::first-letter {
    text-transform: capitalize;
  }

  &:only-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: var.$heading-size;
  margin-bottom: math.div(var.$gutter-base, 2);
}

h2 {
  font-size: math.div(var.$heading-size, 1.3);
  font-weight: var.$font-weight-medium;
}

h3 {
  font-size: math.div(var.$heading-size, 1.5);
}

h4 {
  font-size: math.div(var.$heading-size, 1.7);
}

h5 {
  font-size: math.div(var.$heading-size, 1.8);
}

h6 {
  font-size: math.div(var.$heading-size, 2);
}

p {
  line-height: var.$line-height-base;
  margin-bottom: math.div(var.$gutter-base, 1.5);
  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: var.$text-color-base;
  text-decoration: none;
  display: inline-block;
}

// Buttons
.btn {
  padding: (math.div(var.$gutter-base, 3)) (math.div(var.$gutter-base, 2));
  color: var.$text-color-primary;
  background-color: var.$background-color-secondary;
  border: none;
  border-radius: var.$radius;
  font-weight: var.$font-weight-medium;
  user-select: none;
  cursor: pointer;
  transition: background-color var.$transition-normal ease-out;
  &:hover {
    background-color: darken(var.$background-color-secondary, 10%);
  }
}
