* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

// FORM RESETS

label {
  display: inline-block;
  user-select: none;
}

input {
  &:focus {
    outline: 0;
  }
  &::placeholder {
    font-style: italic;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background-image: none;
  &::-ms-expand {
    display: none;
  }
}

label,
select {
  cursor: pointer;
}

input,
select {
  display: block;
  width: 100%;
  border: none;
  font-family: inherit;
}
